<div class="card">
    <img alt="<%= product.name %>" src="https://via.placeholder.com/300x200" class="card__image">
    <h3 class="card__title"><%= product.name %></h3>
    <p class="card__description"><%= product.description %></p>
    <p class="card__price"><%= product.price %> PLN</p>
    <a href="/products/<%= product.name %>">Details</a>
    <button onclick="deleteProduct('<%= product.name %>')">Delete</button>
  </div>